*{
    padding: 0;
    margin: 0;
}
body{
    //background-color: rgba(245, 235, 220, 1);
    width: 100%;
    hight: 100%;
}

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: rgba(245, 235, 220, 1);
    overflow: auto;
}

header img{
    height: 100px;
}
.nav-link{
    font-weight: bolder;
    font-family: "Bookman Old Style",sans-serif;
    font-size: 18px;
    color: rgba(94, 52, 37, 1);
}
a {
    display: block;
    padding: 8px;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(245, 235, 220, 1);
}

li {
    float: left;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgba(94, 52, 37, 1);
    text-decoration: none;
    font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    color: rgba(214, 35, 0, 1);
}
/* Current/active navbar link */
.active {
    text-decoration: underline;
    color: rgba(214, 35, 0, 1);
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}








/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}
















.animation {
    background-color: #f7f7f7;
    max-height: 300px;
}
.tree_burger{
    height: 200px;
    padding: 12px;
}
.one_burger{
    height: 200px;
    padding: 12px;
}
.french_fries{
    height: 200px;
    padding: 12px;
}
.soda{
    height: 200px;
    padding: 12px;
}